__main_div {
    background-color: black;
}

.text-card {
    color: #5f37ff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    border-left: 5px solid #5f37ff;
}

.text-card:hover {
    box-shadow: 0 20px 30px 0 rgb(239, 235, 47);
}